.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(87, 87, 87);
  /* margin: 0;
  padding: 0;  */
  width: 100%;
  height: auto;
}

.nav-link {
  color: whitesmoke;
  font-size: 1.2rem;
  margin: 5px;
  cursor: pointer;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
}

.nav-link-text-sign-out {
  color: whitesmoke;
  text-decoration: none;
}

.nav-link-text-sign-out:hover {
  color: #ff8e53;
  background-color: whitesmoke;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff8e53;
  background-color: whitesmoke;
}

@media all and (max-width: 800px) {
  .nav-link-text {
    color: whitesmoke;
    font-size: 0.9rem;
    padding: 2px;
  }

  .main-navbar {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 600px) {
  .nav-link-text {
    color: whitesmoke;
    font-size: 0.8rem;
    padding: 2px;
  }

  .main-navbar {
    display: flex;
    flex-direction: column;
  }
}
