@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

.matches-list-title {
  padding: 30px;
}

h2 {
  font-family: comfortaa;
  font-size: 1.8rem;
}

.matches-list {
  margin-top: 20px;
}

.back-home-btn {
  padding: 5px;
  color: whitesmoke;
  margin: 15px;
}

.empty-hobby-list-msg {
  font-family: dancing script;
  font-size: 28px;
  text-align: center;
  margin: 10px;
}

.hobby-item-text-prop {
  color: #fe6b8b;
  font-size: 1.4rem;
  margin: 2px;
  font-family: comfortaa;
  font-weight: 200;
}

.hobbies-list-list-label {
  font-size: 1.5rem;
  font-family: comfortaa;
  color: #ff8e53;
  margin: 2px;
}
